/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 
30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 
48 / 64 / 80 / 96 / 128 
*/

/***********************************/
/* BELOW 960px (60em) */
/***********************************/

@media (max-width: 60em) {
  .player--active .name {
    font-size: 4rem;
  }
}

/***********************************/
/* BELOW 768px (48em) */
/***********************************/

@media (max-width: 48em) {
  .player .name {
    font-size: 3rem;
  }
  .current-label {
    font-size: 1.4rem;
  }
  .current-score {
    font-size: 2.5rem;
  }
  .score {
    font-size: 6rem;
  }
  .btn {
    font-size: 1.4rem;
  }
}

/***********************************/
/* BELOW 608px (38em) */
/***********************************/

@media (max-width: 38em) {
  main {
    flex-direction: column;
    height: 80rem;
  }
  player {
    padding: 5rem;
  }
  .btn--new {
    top: 3rem;
  }
  .btn--roll {
    top: 37.5rem;
    left: 10rem;
  }
  .btn--hold {
    top: 37.5rem;
    left: 25rem;
  }
}
